@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --black-default: #000;
    --dark-default: #171717;
    --white-default: #fff;
    --light-default: #e4e4e4;
    --link-default: #5011ff;
    --link-hover-default: #3c15d7;
    --danger-default: #ff3838;
    --background-default: var(--black-default);
    --text-default: var(--white-default);
    --border-default: var(--dark-default);
    --hover-default: var(--light-default);
    --margin-padding-default: 10px;
    --flex-direction-default: row;
}

* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
    font-family: 'Poppins' !important;
}

body {
    background-color: var(--background-default) !important;
    color: var(--text-default) !important;
}

body.light {
    --background-default: var(--white-default) !important;
    --text-default: var(--black-default) !important;
    --border-default: var(--light-default) !important;
    --hover-default: var(--dark-default) !important;
}

body.dark {
    --background-default: var(--black-default) !important;
    --text-default: var(--white-default) !important;
    --border-default: var(--dark-default) !important;
    --hover-default: var(--light-default) !important;
}

a {
    text-decoration: 1.5px underline var(--link-default) !important;
    transition: 0.1s !important;
    color: var(--text-default) !important;

    &:hover {
        text-decoration-color: var(--link-hover-default) !important;
    }
}

a.btn, a.btn.active {
    text-decoration: none !important;
}

button {
    height: 35px !important;
}

a.btn, button.btn {
    border: 1.5px solid var(--border-default) !important;
    padding: 4px 16px !important;
    border-radius: 4px !important;
    height: 35px !important;
    width: auto !important;
    background-color: transparent !important;
    text-decoration: none !important;
    font-size: medium !important;
    cursor: pointer !important;
    color: var(--text-default) !important;
    transition: 0.1s !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;

    &.square {
        width: 35px !important;
    }
    &.danger {
        border-color: var(--danger-default) !important;
        color: var(--danger-default) !important;
    }

    &:hover {
        background-color: var(--border-default) !important;
    }
}

a.btn.active, button.btn.active {
    border: 1.5px solid var(--text-default) !important;
    background-color: var(--text-default) !important;
    color: var(--background-default) !important;
    transition: 0.1s !important;
    text-decoration: none !important;
    
    &.danger {
        background-color: var(--danger-default) !important;
        color: var(--text-default) !important;
        border-color: var(--danger-default) !important;
    }
    &:hover {
        background-color: var(--hover-default) !important;
        border-color: var(--hover-default) !important;
    }
}

.m {
    margin: var(--margin-padding-default) !important;
}

.mx {
    margin-inline: var(--margin-padding-default) !important;
}

.my {
    margin-block: var(--margin-padding-default) !important;
}

.mt {
    margin-top: var(--margin-padding-default) !important;
}

.mb {
    margin-bottom: var(--margin-padding-default) !important;
}

.ms {
    margin-left: var(--margin-padding-default) !important;
}

.me {
    margin-right: var(--margin-padding-default) !important;
}

.p {
    padding: var(--margin-padding-default) !important;
}

.px {
    padding-inline: var(--margin-padding-default) !important;
}

.py {
    padding-block: var(--margin-padding-default) !important;
}

.pt {
    padding-top: var(--margin-padding-default) !important;
}

.pb {
    padding-bottom: var(--margin-padding-default) !important;
}

.ps {
    padding-left: var(--margin-padding-default) !important;
}

.pe {
    padding-right: var(--margin-padding-default) !important;
}

@media (max-width: 600px) {
    :root {
        --margin-padding-default: 6px;
    }
}

.container {
    margin: var(--margin-padding-default) !important;
    padding: var(--margin-padding-default) !important;
    border-radius: var(--margin-padding-default) !important;
    border: 1.5px solid var(--border-default) !important;
}

.d-flex {
    display: flex !important;
    flex-direction: var(--flex-direction-default) !important;
    gap: 6px !important;
}

.d-flex.flex-row {
    --flex-direction-default: row !important;
    margin-block: 6px !important;
}

.d-flex.flex-row-reverse {
    --flex-direction-default: row-reverse !important;
    margin-block: 6px !important;
}

.d-flex.flex-column {
    --flex-direction-default: column !important;
    margin-block: 6px !important;
}

.d-flex.flex-column-reverse {
    --flex-direction-default: column-reverse !important;
    margin-block: 6px !important;
}

.d-flex.flex-wrap {
    flex-wrap: wrap !important;
}

.d-flex.flex-wrap-reverse {
    flex-wrap: reverse !important;
}

.d-flex.flex-nowrap {
    flex-wrap: nowrap !important;
}


.justify-center {
    justify-content: center !important;
}

.justify-start {
    justify-content: start !important;
}

.justify-end {
    justify-content: end !important;
}

.justify-evenly {
    justify-content: space-evenly !important;
}

.justify-between {
    justify-content: space-between !important;
}

.justify-around {
    justify-content: space-around !important;
}

.align-items-center {
    align-items: center !important;
}

.align-items-start {
    align-items: start !important;
}

.align-items-end {
    align-items: end !important;
}


code {
    font-family: 'Fira Code' !important;
    font-size: smaller;
    color: var(--hover-default) !important;
    background-color: var(--border-default) !important;
    padding: 2px 4px !important;
    border-radius: 4px !important;
    overflow: overlay !important;
    margin: 10px 0 !important;
}

mark{
    background-color: var(--border-default) !important;
    padding: 2px 4px !important;
    border-radius: 4px !important;
    color: var(--text-default) !important;
}

hr{
    border: 1.5px solid var(--link-default) !important;
    border-radius: 2px !important;
    margin-block: var(--margin-padding-default) !important;
}

ul.list-group, ol.list-group{
    list-style-type: none !important;
    border-radius: 6px !important;
    border: 1.5px solid var(--border-default) !important;
    max-width: 300px !important;
    margin: 6px !important;
}
ul.list-group li, ol.list-group li{
    padding: 4px !important;
    padding: 6px 10px !important;
    border-bottom: 1px solid var(--border-default) !important;
}
ul.list-group li:last-child, ol.list-group li:last-child{
    border-bottom: none !important;
}
